@import url('href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap"');

@mixin osw300 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

@mixin osw400 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

@mixin osw500 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}

@mixin osw700 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?rsk1lw');
    src: url('../fonts/icomoon.eot?rsk1lw#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?rsk1lw') format('truetype'),
        url('../fonts/icomoon.woff?rsk1lw') format('woff'),
        url('../fonts/icomoon.svg?rsk1lw#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

