/* Мой reset START*/

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-size: 15px;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline-block;
}

html,
body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

/* Мой reset END */



.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

}



.container-fluid {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

button {
    outline: none;
}

.title__section {
    font-size: 38px;
    @include osw700;
    color: $greydark;
    text-transform: uppercase;
    text-align: center;
}

.display-none {
    display: none;
}