
    button.mfp-close,
    button.mfp-arrow {
        display: none;
    }

@media(max-width:1600px) {
    
    .header__logo-img {
        width: 190px;
    }
}

@media(max-width:1500px) {
    .header__menu-btn {
        display: block;
    }

    .header__menu-list {
        display: none;
    }

    .header__menu-item {
        display: block;
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;

        +.header__menu-item {
            margin-left: 0;
        }
    }

    .header__menu ul {
        display: none;
        position: absolute;
        top: 108px;
        width: 100%;
        left: 0;
        right: 0;
        background-color: #fff;
        z-index: 3;
        text-align: center;
    }

    .header__menu-link {
        color: $greylight;
        text-transform: uppercase;

        &--active {
            border-color: $greylight;
        }
    }
}

@media(max-width:1280px) {
    .header__title {
        h1 {
            font-size: 65px;
        }
    }

    .header__subtitle {
        p {
            font-size: 48px;
        }
    }

    .scroll {
        display: none;
    }

}

@media(max-width:1250px) {
    .advantages__content {
        flex-wrap: wrap;
        max-width: 700px;
        margin: 0 auto;
    }

    .advantages__item {
        margin: 15px;

    }
}

@media(max-width:1201px) {
    .container {
        max-width: 940px;
    }

    .scroll {
        display: none;
    }

    .product__image {
        img {
            width: 80%;
        }
    }

    .product__item {
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;

        +.product__item {
            margin-left: 10px;
        }

        &-footer {
            flex-wrap: wrap;
            max-width: 240px;
            justify-content: center;
        }

        &-btn {
            margin-top: 10px;
        }
    }

    .product__content {
        align-items: stretch;
    }

    .callback__img {
        img {
            width: 480px;
        }
    }

    //Секция с настилом, скрываем боковое меню. и открываем при клике на иконку фильтра.
    .page-inner {
        position: relative;
    }

    .page-aside {
        display: none;
    }

    .page-aside--toggle {
        position: absolute;
        left: 0px;
        top: 40px;
        display: block;

    }

    .aside-links {
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);

    }

    .aside-links__item {
        margin-bottom: 0;
        box-shadow: none;
        z-index: 10;
        background-color: #fff;
        border-bottom: 2px solid $greyblond;
        transition: all .4s;

        &:hover {
            background-color: $greyblond;

            .aside__link {
                color: #fff;
            }
        }

        &:last-child {
            border-bottom: none;
        }
    }

    .page-content__option .option-filter {
        display: block;
        cursor: pointer;
    }

    .information__wrapper {
        justify-content: center;
        flex-wrap: wrap;
        max-width: 870px;
    }

    .information__item {
        margin-right: 15px;
    }

}

@media(max-width:965px) {
    .header__title {
        h1 {
            font-size: 52px;
        }
    }

    .header__subtitle {
        p {
            font-size: 42px;
        }
    }

    .header__questions-item {
        max-width: 240px;
        min-height: 120px;
    }

    .header__button-link {
        padding: 15px 65px;
    }

    .header__links {
        margin-top: 20px;
    }

    .mouse {
        width: 50px;
        height: 80px;
    }
    .page__wrapper-contact{
        flex-wrap: wrap;
    }
    .page__content-map{
        width: 100%;
    }
}

@media(max-width:920px) {
    .product__item-title {
        text-align: center;
    }

    .footer__top {
        flex-wrap: wrap;
        max-width: 500px;
        justify-content: flex-start;
    }

    .footer__item {
        margin-left: 40px;
        margin-top: 25px;
    }

    .footer__social {
        justify-content: flex-start;
    }

    .footer__bottom {
        margin-left: 20px;
        flex-wrap: wrap;
        max-width: 500px;
        justify-content: flex-start;

        &-text {
            margin-bottom: 20px;
        }

        &-logo {
            img {
                width: 200px;
            }
        }
    }

    //Адаптируем карты товаров грид
    .page-content {
        max-width: 920px;

        &__option {
            width: 100%;
        }
    }

    .goods__item {
        margin-right: 15px;
    }

    .goods__wrapper.grid {
        justify-content: center;
    }

    .page-inner {
        display: block;
    }


}

@media(max-width:840px) {
    .production__wrapper {
        justify-content: center;
    }

    .production__item {
        margin-right: 15px;
    }

}

@media(max-width:830px) {
    .header {
        padding-bottom: 50px;
    }

    .header__questions-item {
        +.header__questions-item {
            margin-left: 10px;
        }

        &:nth-child(even) {
            display: none;
        }

        &:nth-child(3) {
            display: none;
        }
    }

    .header__box-title {
        margin-left: 65px;
    }

    .header__links {
        margin-left: 65px;
    }

    .callback__img {
        display: none;
    }

    .callback__info {
        margin: 0 auto;
    }

    //Адаптируем карточки товаров ЛИСТ
    .goods__item-buttons {
        margin-left: 20px;
        margin-right: auto;
    }

}

@media(max-width:740px) {
    .info__wrapper {
        flex-wrap: wrap;
        //justify-content: flex-start;
    }

    .info__item {
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 15px;
    }
}

@media(max-width:650px) {
    .option-list {
        display: none;
    }
    .header__title{
        padding-top: 30%;
    }
}

@media(max-width:630px) {
    .advantages__content {
        justify-content: center;
    }
}

@media(max-width:615px) {
    .header__logo {
        margin-left: 15px;
    }

    .header__title {
        padding-top: 130px;

        h1 {
            font-size: 42px;
        }
    }

    .product__content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .product__item {
        +.product__item {
            margin-left: 0;
            margin-top: 15px;
        }
    }
}

@media(max-width:580px) {
    .header__questions {
        display: none;
    }
}

@media(max-width:540px) {

    .popup__wrapper {
        max-width: 95%;
    }

    .popup__callback {
        max-width: 95%;
    }

    .popup__inner {
        max-width: 80%;

    }

    .popup__inner .jq-selectbox__select {
        padding-left: 5px;
        font-size: 12px
    }

    .header__info {
        display: none;
        position: absolute;
        top: 108px;
        width: 100%;
        left: 0;
        right: 0;
        background-color: #fff;
        z-index: 3;
        text-align: center;

        &-item {
            padding: 20px;
        }

        &-link {
            color: $greylight;
            font-size: 20px;
        }
    }

    .header__box-title {
        margin-left: 15px;
    }

    .header__links {
        margin-left: 15px;
    }

    .header__info-icon {
        display: block;
        margin-right: 20px;
        font-size: 30px;
        color: white;
    }

    .icon-envelope {
        padding-bottom: 8px;
    }

    .callback__title {
        max-width: 300px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .callback__form {
        form {
            text-align: center;
        }

    }

    .callback__input {
        width: 300px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}

@media(max-width:470px) {
    .callback__input {
        width: 250px;
    }

    .callback__title {
        max-width: 250px;
    }

    .breadcrumbs__list li {
        margin-top: 10px;
    }
    .title__section{
        font-size: 28px;
    }
}

@media(max-width:410px) {

    .jq-checkbox,
    .jq-radio {
        width: 45px;
    }

    .header__title {
        h1 {
            font-size: 38px;
        }
    }

    .header__subtitle {
        p {
            font-size: 34px;
        }
    }

    .callback__input {
        width: 200px;
    }

    .callback__title {
        max-width: 200px;
    }

    .footer__wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer__item {
        margin-left: 0;
    }

    .footer__social {
        justify-content: center;
    }

    .footer__bottom {
        margin-left: 0;
    }
}

@media(max-width:370px) {
    .header__logo-img {
        width: 140px;
    }

    .faq__title {
        padding-right: 45px;
    }


}

@media(max-width:1399px) {
    .header__menu-list {
        display: block;
    }
}