@media(max-width:1535px){
    .header__logo-img{
        width: 190px;
    }
}
@media(max-width:1400px){
    .header__menu-btn{
        display: block;
    }
    .header__menu-list{
        display: none;
    }
    .header__menu-item{
        display: block;
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        +.header__menu-item{
            margin-left: 0;
        }
    }
    .header__menu ul{
        display: none;
        position: absolute;
        top: 108px;
        width: 100%;
        left: 0;
        right: 0;
        background-color: #fff;
        z-index: 3;
        text-align: center;
    }
    .header__menu-link{
        color: $greylight;
        text-transform: uppercase;
        &--active{
        border-color: $greylight;
        }
    }
}
@media(max-width:1280px){
    .header__title{
        h1{
            font-size: 65px;
        }
    }
    .header__subtitle{
        p{
            font-size: 48px;
        }
    }
}
@media(max-width:1200px){
    .header__questions{

    }
}