@media(max-width:1535px) {
    .header__logo-img {
        width: 190px;
    }
}

@media(max-width:1400px) {
    .header__menu-btn {
        display: block;
    }

    .header__menu-list {
        display: none;
    }

    .header__menu-item {
        display: block;
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;

        +.header__menu-item {
            margin-left: 0;
        }
    }

    .header__menu ul {
        display: none;
        position: absolute;
        top: 108px;
        width: 100%;
        left: 0;
        right: 0;
        background-color: #fff;
        z-index: 3;
        text-align: center;
    }

    .header__menu-link {
        color: $greylight;
        text-transform: uppercase;

        &--active {
            border-color: $greylight;
        }
    }
}

@media(max-width:1280px) {
    .header__title {
        h1 {
            font-size: 65px;
        }
    }

    .header__subtitle {
        p {
            font-size: 48px;
        }
    }

    .scroll {
        display: none;
    }

}

@media(max-width:1200px) {
    .container {
        max-width: 940px;
    }

    .scroll {
        display: none;
    }

    .product__image {
        img {
            width: 80%;
        }
    }

    .product__item {
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;

        +.product__item {
            margin-left: 10px;
        }

        &-footer {
            flex-wrap: wrap;
            max-width: 240px;
            justify-content: center;
        }

        &-btn {
            margin-top: 10px;
        }
    }

    .product__content {
        align-items: stretch;
    }
}

@media(max-width:965px) {
    .header__title {
        h1 {
            font-size: 52px;
        }
    }

    .header__subtitle {
        p {
            font-size: 42px;
        }
    }

    .header__questions-item {
        max-width: 240px;
        min-height: 120px;
    }

    .header__button-link {
        padding: 15px 65px;
    }

    .header__links {
        margin-top: 20px;
    }

    .mouse {
        width: 50px;
        height: 80px;
    }
}

@media(max-width:920px) {
    .product__item-title {
        text-align: center;
    }
}

@media(max-width:830px) {
    .header {
        padding-bottom: 50px;
    }

    .header__questions-item {
        +.header__questions-item {
            margin-left: 10px;
        }

        &:nth-child(even) {
            display: none;
        }

        &:nth-child(3) {
            display: none;
        }
    }

    .header__box-title {
        margin-left: 65px;
    }

    .header__links {
        margin-left: 65px;
    }
}

@media(max-width:740px) {
    .info__wrapper {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .info__item {
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 15px;
    }
}

@media(max-width:615px) {
    .header__logo {
        margin-left: 15px;
    }

    .header__title {
        padding-top: 170px;

        h1 {
            font-size: 42px;
        }
    }

    .product__content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .product__item {
        +.product__item {
            margin-left: 0;
            margin-top: 15px;
        }
    }
}

@media(max-width:580px) {
    .header__questions {
        display: none;
    }
}

@media(max-width:540px) {


    .header__title {
        padding-top: 200px;
    }

    .header__info {
        display: none;
        position: absolute;
        top: 108px;
        width: 100%;
        left: 0;
        right: 0;
        background-color: #fff;
        z-index: 3;
        text-align: center;

        &-item {
            padding: 20px;
        }

        &-link {
            color: $greylight;
            font-size: 20px;
        }
    }

    .header__box-title {
        margin-left: 15px;
    }

    .header__links {
        margin-left: 15px;
    }

    .header__info-icon {
        display: block;
        margin-right: 20px;
        font-size: 30px;
        color: white;
    }

    .icon-envelope {
        padding-bottom: 8px;
    }
}

@media(max-width:410px) {
    .header__title {
        h1 {
            font-size: 38px;
        }
    }

    .header__subtitle {
        p {
            font-size: 34px;
        }
    }
}

@media(max-width:370px) {
    .header__logo-img {
        width: 140px;
    }
}

@media(max-width:1399px) {
    .header__menu-list {
        display: block;
    }
}