@import "vars";
@import "libs";
@import "fonts";
@import "global";



.header{
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 100vh;
}

.header__logo{
    margin-left: 64px;
}

.header__top{
    display: flex;
    justify-content: space-between;
    //padding-top: 20px;
    min-height: 123px;
    align-items: center;
}

.header__menu-list{
    li+li{
        margin-left: 40px;
    }
}

.header__menu-link{
    color: white;
    @include osw500;
    font-size: 18px;
    padding-bottom: 7px;
}
.header__menu-link--active{
    border-bottom: 2px solid white;
}
.header__info{
    @include osw500;
    color: white;
    margin-right: 20px;
    &-item+&-item{
        margin-top: 5px;
    }
    &-link{
        color: inherit;
        font-size: 18px;
    }
}

.header__title{
    margin-top: 92px;
    h1{
        font-size: 72px;
        color: white;
        @include osw700;
        text-transform: uppercase;
        margin: 0;
    }
}
.header__subtitle{
    max-width: 450px;
    p{
        color: white;
        font-size: 60px;
        @include osw700;
        margin: 0;
        span{
            color: $red;
        }

    }
}
.header__links{
    display: flex;
    justify-content: space-between;
}
.header__button-link{
    padding: 20px 90px;
    color: white;
    background-color: $red;
    font-size: 22px;
    text-transform: uppercase;
    @include osw700;
    margin-top: 36px;
}
.header__questions{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 570px;
    & :nth-child(1){
        background-color: #fff;
        color: $red;
        @include osw700;
        margin-bottom: 30px;
    }
    & :nth-child(4){
        background-color: #fff;
        color: $red;
        @include osw700;
    }
    & :nth-child(even){
        margin-left: 30px;
    }
    & :nth-child(2){
        margin-bottom: 30px;
    }
}
.header__questions-item{
    min-width: 270px;
    min-height: 130px;
    background-color: $red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    @include osw700;
    font-size: 16px;
}

@import "media";
