@import "vars";
@import "libs";
@import "fonts";
@import "global";


//--------------- ETC START

.font-dark {
    color: $greydark !important;
    @include osw500;
    border-color: $greydark !important;
}

.arrow-down {
    &::before {
        right: 20px;
        position: absolute;
        content: "\f0d7";
        font-family: 'icomoon';
        font-size: 24px;
        top: 17px;
        transition: all .4s;
    }

}

.rotate180 {
    &::before {
        transform: rotate(180deg);
    }
}

//--------------- ETC END








//--------------- HEADER START
.header {
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 100vh;
}

.header__logo {
    margin-left: 64px;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    min-height: 125px;
    transition: all .4s;
    z-index: 20;

    &--scroll {
        background-color: #fff;
        border-bottom: 2px solid rgba($color: $greylight, $alpha: 0.5);

        .header__menu-link {
            color: $greylight;
            @include osw700;
        }

        .header__info-link {
            color: $greylight;
            @include osw700;
        }

        .header__menu-link--active {
            border-color: $greylight;
        }
    }
}

.header__menu-list {
    li+li {
        margin-left: 40px;
    }
}

.header__menu-link {
    color: white;
    @include osw700;
    font-size: 16px;
    padding-bottom: 7px;
}

.header__menu-link--active {
    border-bottom: 2px solid white;
}

.header__info {
    @include osw700;
    color: white;
    margin-right: 20px;

    &-item+&-item {
        margin-top: 5px;
    }

    &-link {
        color: inherit;
        font-size: 16px;
    }
}

.header__title {
    padding-top: 240px;

    h1 {
        font-size: 72px;
        color: white;
        @include osw700;
        text-transform: uppercase;
        margin: 0;
    }
}

.header__subtitle {
    max-width: 450px;

    p {
        color: white;
        font-size: 56px;
        @include osw700;
        margin: 0;

        span {
            color: $red;
        }

    }
}

.header__links {
    display: flex;
    justify-content: space-between;
}

.header__button-link {
    padding: 20px 90px;
    color: white;
    background-color: $red;
    font-size: 16px;
    text-transform: uppercase;
    @include osw700;
    margin-top: 36px;
    transition: all .4s;
    &:hover{
        background-color: white;
        color: $red;

    }
}

.header__questions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 570px;
    transition: all .4s;

    & :nth-child(1) {
        background-color: #fff;
        color: $red;
        @include osw700;
        margin-bottom: 30px;
        &:hover{
            background-color: $red;
            color: white;
        }
    }

    & :nth-child(4) {
        background-color: #fff;
        color: $red;
        @include osw700;
        &:hover{
            background-color: $red;
            color: white;
        }
    }

    & :nth-child(even) {
        margin-left: 30px;
    }

    & :nth-child(2) {
        margin-bottom: 30px;
    }
}

.header__questions-item {
    min-width: 270px;
    min-height: 130px;
    background-color: $red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    @include osw700;
    font-size: 14px;
    transition: all .4s;
    &:hover{
        background-color: #fff;
        color: $red;
    }
}

.mouse {
    width: 66px;
    height: 110px;
    border: 1px solid white;
    margin: 50px auto;
    border-radius: 50px;
    position: relative;
}

.click {
    width: 14px;
    height: 14px;
    background-color: #fff;
    border-radius: 30px;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
}

//--------------- HEADER END




//--------------- PRODUCT START
.product__title {
    margin-top: 60px;
    margin-bottom: 40px;
}

.product__content {
    padding-bottom: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product__item {
    max-width: 370px;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 10px 0px 15px rgba(0, 0, 0, 0.25), 0px 10px 15px rgba(0, 0, 0, 0.25);

    &-title {
        font-size: 18px;
        line-height: 30px;
        @include osw700;
        color: $greydark;
        margin-top: 25px;
        margin-bottom: 15px;
    }

    &-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
    }

    &-subtitle {
        @include osw700;
        color: $greylight;
        font-size: 12px;
        text-transform: uppercase;
    }

    &-btn {
        a {
            color: $red;
            border: 2px solid $red;
            font-size: 12px;
            @include osw700;
            text-transform: uppercase;
            padding: 10px 20px;
            transition: all .3s;

            &:hover {
                background-color: $red;
                color: white;
            }
        }
    }
}

//--------------- PRODUCT END





//--------------- INFO START
.info {
    background-color: $red;

}

.info__wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info__item-title {
    @include osw700;
    font-size: 28px;
    color: white;
    margin-bottom: 20px;
}

.list__item {
    display: block;
    margin-bottom: 10px;

    .list__link {
        @include osw500;
        font-size: 16px;
        color: white;
    }
}

//--------------- INFO END




//--------------- FAQ START
.faq__wrapper {
    padding-top: 120px;
    padding-bottom: 120px;
}

.faq__item {
    &.active {
        .faq__title {
            .arrow-down::before {
                transform: rotate(180deg);
            }
        }

        .faq__answer {
            display: block;
        }
    }
}

.faq__title {
    background: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    min-width: 1170px;
    padding: 20px;
    @include osw700;
    color: $greydark;
    font-size: 16px;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;

}

.faq__answer {
    background: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    min-width: 1170px;
    padding: 20px 40px;
    @include osw500;
    color: $greylight;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    display: none;
    margin-bottom: 20px;

}



//--------------- FAQ END


//--------------- CALLBACK START
.callback {
    background-color: $red;
}

.callback__wrapper {
    padding: 50px;
    position: relative;
}

.callback__title {
    font-size: 22px;
    @include osw500;
    color: white;
    max-width: 400px;
    margin-bottom: 50px;
    line-height: 33px;
}

.callback__info {
    max-width: 400px;

}

.callback__input {
    display: block;
    margin-bottom: 20px;
    width: 400px;
    min-height: 60px;
    outline: none;
    border: none;
    padding: 0 20px;
    font-size: 16px;
    @include osw500;
    text-align: center;
    color: $greylight;
}

.callback__form {
    text-align: center;
}

.callback-btn {
    border: 2px solid white;
    color: white;
    padding: 15px 60px;
    font-size: 14px;
    @include osw700;
    background-color: transparent;
    text-transform: uppercase;
    transition: all .5s;
    cursor: pointer;

    &:hover {
        background-color: white;
        color: $red;
    }
}

.callback__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.callback__checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.callback__checkbox+label::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid white;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.callback__checkbox:checked+label::before {
    background-color: transparent;
    content: "\f00c";
    font-size: 14px;
    font-family: 'icomoon';
    border: 1px solid white;
    padding-top: 2px;
}


.callback__confidence {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.callback__confidence-text {
    @include osw500;
    font-size: 14px;
    color: white;
    display: inline;
    margin-left: 30px;
    line-height: 20px;
    text-align: center;
}

.callback__img {
    position: absolute;
    bottom: -4px;
    right: 0px;
}

//--------------- CALLBACK END




//--------------- ADVANTAGES START
.advantages__wrapper {
    padding-bottom: 80px;
}

.advantages__title {
    margin-top: 60px;
    margin-bottom: 80px;
}

.advantages__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.advantages__item {
    text-align: center;
    max-width: 270px;
}

.advantages__circle {
    width: 270px;
    height: 270px;
    background-color: white;
    //opacity: 0.6;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.advantages__subtitle {
    @include osw700;
    font-size: 18px;
    color: $greydark;
}

//--------------- ADVANTAGES END



//--------------- FOOTER START

.footer {
    background-color: $red;
}

.footer__wrapper {
    padding-top: 50px;
    padding-bottom: 20px;
}

.footer__top {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.footer__item-title {
    font-size: 28px;
    @include osw700;
    color: white;
    margin-bottom: 30px;
}

.footer__list-item {
    display: block;

    +.footer__list-item {
        margin-top: 20px;
    }
}

.footer__list-link {
    font-size: 16px;
    @include osw700;
    color: white;
    line-height: 20px;
}

.footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}

.footer__social-icon {
    font-size: 40px;
    color: white;
    cursor: pointer;
    transition: all .4s;

    +.footer__social-icon {
        margin-left: 20px;
    }
}

.icon-facebook-square {
    &:hover {
        color: #3b5998;
    }
}

.icon-instagram {
    &:hover {
        color: #fcaf45;
    }
}

.footer__contacts{
    p{
        font-size: 16px;
        color: white;
        @include osw700;
    }
}

.footer__bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 55px;
}
.footer__bottom-text{
    @include osw700;
    font-size: 16px;
    color: white;
    max-width: 400px;
    text-align: center;
    line-height: 30px;
}

//--------------- FOOTER END



@import "media";